
section {
    min-height: 581px;
    position: relative;
    width: 100% !important;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section:nth-of-type(1){height:665px;}
.sec_part {
    background: #e37c41;
}

.thrd_part{ background: url("../img/header-bg2.png") no-repeat fixed 0 0 / cover rgba(0, 0, 0, 0); min-height:680px}


.thrd_part .iphone-section{  background: url(../img/iphone-slide.png) 50% 75% no-repeat fixed;
    margin: 0;
    height: 1200px;
    position:absolute;
    top:0;left:0;
    width:100%;   
}

#test-back .android-section{  background: url(../img/android.png) 50% 75% no-repeat fixed;
    margin: 0;
    height: 1200px;
    position:absolute;
    top:0;left:0;
    width:100%;   
}


#story-freext>div:nth-of-type(1) {
    background: url(../img/nike-bg.jpeg) 50% 0 no-repeat fixed;
    margin: 0;
    height: 1600px;
    position:absolute;
    width:100%;
    top:0;left:0;
}

#story-freext>div:nth-of-type(2) {
    background: url(../img/nike.png) 50% 0 no-repeat fixed;
    margin: 0;
    height: 1600px;
    position:absolute;
    top:0px;left:100px;
    width:100%;
}



#bottle .phone{
    background: url(../img/hand-mobile.png) 25% 100% no-repeat fixed;
    margin: 0;
    height: 1200px;
    position:absolute;
    top:0;left:0;
    width:100%;   
}

section h1{color:#4F9426;width:300px;font-size:65px;margin-bottom:14px;}
section p{color:black;width:300px;}
section article{position:absolute;top:240px;left:40px;width:300px;z-index:4;}

.parallax-item{position:absolute;z-index:5;top:40px;left:400px;}
